/pom.xml
*jar
/lib
/classes
/native
/target
/.lein-failures
/checkouts
/.lein-deps-sum
.nrepl-port
.DS_Store
*.#*
*#*
*.classpath
*.project
*.settings
*.pyc
*.dot
.cake/
.lein-failures
.lein-deps-sum
docs/**
autodoc/**
